:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #192b2f;
  margin: 0;
}

.login-menu {
  display: grid;
  justify-content: center;
  background-color: #0d0d0d;
  border-top: 5px solid #c52622;
  margin-top: 250px;
}

.login-menu > img {
  width: 150px;
  margin-top: 10px;
}

.login-menu > h3 {
  color: #cbcbcb;
  text-align: center;
  font-weight: 400;
}

.login-menu > input {
  display: grid;
}
